h1{
    font-size: 70px;
    text-align: center;
    color:purple;
}

p{
    font-size: 55px;
    color: black;
}

.name{
    font-size: 55px;
    color: blue;
}

.contry {
    font-style: italic;
}

